<h1>Editing Content Rating</h1>

<%= render 'form', content_rating: @content_rating %>

<%= link_to 'Show', @content_rating, class: "btn btn-outline-primary" %> 
<%= link_to 'Back', content_ratings_path, class: "btn btn-outline-primary" %>
