<h1>New Content Provider</h1>

<%= render 'form', content_provider: @content_provider, class: "btn btn-outline-primary"  %>

<%= link_to 'Back', content_providers_path, class: "btn btn-outline-primary"  %>
